*.pyc
*.pyo
*.db
.coverage
.DS_Store
.idea
/server/celery
/server/celltracker/local_settings.py
/server/celltracker/*.log
/server/ct_core/static/cc_core/js/index*
/server/static
/server/log/*.log
/server/config/local-env.sh
/server/celeryd.pid
/server/docker-compose.yml
/server/nginx/nginx.conf
