<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRacking and Analysis of CEll Cycle (TRACE)</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/ct_core/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static "ct_core/css/ct_core.css" %}"/>
    {% block extra_css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.js"></script>
    {% block extra_js %}{% endblock %}
{% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row border bg-light mb-3 py-3">
      <div class="col-sm-3 text-center">
        <a href="http://www.med.unc.edu/genetics/purvislab">
          <img src="/static/ct_core/images/ccb_logo_alpha_cropped.png" style="height: 80px;" />
        </a>
      </div>
      <div class="col-sm-6 text-center">
        <h2>
          <strong>TRacking and Analysis of CEll Cycle (TRACE)</strong>
        </h2>
        {% if user.is_authenticated and initial_login %}
          <div class="card p-3">
            <h5>Welcome to TRACE, {{ user.first_name }}!</h5>
            <div>
              Your username is <strong>{{ user.username }}</strong>.
              Update your profile <a href="{% url 'account_update' user.id %}">here</a>
            </div>
            <div>Have fun and when you are done, you can <a href="{% url 'logout' %}">logout</a></div>
          </div>
        {% elif user.is_superuser %}
            <div class="card p-3">
            <h5>Welcome to TRACE!</h5>
            <div>
              Your username is <strong>{{ user.username }}. You are a data manager who can perform
            data management tasks.</strong>.
            </div>
            <div>When you are done with your data management tasks, you can <a href="{% url 'logout' %}">logout</a></div>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-3 text-center">
        <div>
          <a href="http://www.unc.edu/">
            <img src="/static/ct_core/images/medium_blue_450px.png" style="height: 50px;" />
          </a>
        </div>
        <div>
          <a href="http://renci.org/">
            <img src="/static/ct_core/images/RENCI-Official-Logo-No-Tagline-cropped-alpha.png"
              style="width: 60px;" />
          </a>
        </div>
      </div>
    </div>
    {% block content %}{% endblock content %}
  </div>
</body>
{% block react_js %}
    {% if user.is_authenticated and initial_login %}
        <script type="text/javascript" src="{% static 'ct_core/js/index_bundle.js' %}"></script>
    {% endif %}
{% endblock %}
</html>
