arrow==0.15.5
beautifulsoup4==4.4.1
celery==4.4.0
Django==2.2.10
django-crispy-forms==1.8.1
django-jsonfield==1.4.0
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
gevent==1.4.0
gunicorn==20.0.4
pandas==1.0.1
Pillow==7.0.0
psycopg2==2.8.4
requests==2.22.0
python-irodsclient==0.8.2
opencv-python==4.2.0.32
Wand==0.5.9
sh==1.12.14
scipy==1.4.1
fastai==1.0.60
scikit-image==0.16.2
Shapely==1.7.0
