arrow==0.7.0
beautifulsoup4==4.4.1
celery==4.1.1
djangorestframework==3.8.2
future==0.16.0
gunicorn==19.8.1
pandas==0.22.0
Pillow==5.1.0
psycopg2==2.6.1
requests==2.18.4
python-irodsclient==0.8.1
opencv-python==3.4.1.15
Wand==0.4.4
django-widget-tweaks==1.4.3
sh==1.12.14
scipy==1.2.1
