arrow==0.7.0
beautifulsoup4==4.4.1
celery==4.3.0
Django==1.11.26
django-crispy-forms==1.7.2
django-jsonfield==1.0.1
django-security==0.9.3
django-widget-tweaks==1.4.3
djangorestframework==3.9.1
future==0.16.0
gevent==1.4.0
gunicorn==19.8.1
pandas==0.25.3
Pillow==6.2.1
psycopg2==2.8.2
requests==2.20.0
python-irodsclient==0.8.1
opencv-python==4.1.1.26
Wand==0.5.7
sh==1.12.14
scipy==1.3.2
fastai==1.0.59
scikit-image==0.16.2
Shapely==1.6.4.post2

