{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    {% csrf_token %}
    <div class="col-xs-12">
        <select id="exp_select_list" title="select an experiment from the list">
        </select>
        <button class="btn btn-sm btn-danger" id="delete_exp" disabled title="delete an existing experiment"><i class="oi oi-minus"></i></button>
        <button id="associate_label_id" data-toggle="modal"  class="btn btn-sm btn-info hid-element" data-target="#submit-for-label-association-dialog">
            <i class="oi oi-tags" data-toggle="tooltip" data-placement="bottom" title="Associate labels with selected experiment"></i>
        </button>

        <a id="create_new_exp" href="/create_new_experiment/" title="create a new experiment">
            <span class="oi oi-plus"></span>
        </a>
        &nbsp;&nbsp;
        <a id="manage_user_role" href="/manage_user_role/" title="manage power user roles">
            <span class="oi oi-people"></span>
        </a>
        &nbsp;&nbsp;
        <a id="sort_task_priority" href="/sort_task_priority/" title="sort task priority in descending order">
            <span class="oi oi-sort-descending"></span>
        </a>
    </div>
    <div class="alert hid-element" id="notification_msg">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span id="notification_msg_str"></span>
    </div>
    <div class="col-xs-12">
        <div id="seg_info"></div>
        <div id="user_edit" class="col-xs-12 hid-element">
            <label for="user_list" class="col-form-label">
                <strong>Select an user who has edit segmentation data for this experiment: </strong>
            </label>
            <select id="user_list">
            </select>
            &nbsp;&nbsp;
            Download:
            <a id='edit_download' href='/download/'>
                <span class="oi oi-data-transfer-download"></span>
            </a>
        </div>
        <div id="user_edit_frm_info" class="col-xs-12"></div>
    </div>
    <div class="col-xs-12">
        <div id="frame-visualizer"></div>
    </div>
    <div class="modal fade" id="submit-for-label-association-dialog" tabindex="-1" role="dialog" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="submit-for-label-association">Associate annotation labels with selected experiment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exp_label" class="col-form-label-lg">Input annotation labels: </label>
                        <input id="exp_label" class="form-control" name="exp_label" placeholder="The input labels must be separated by semicolon, e.g., label1;label2;label3" value="" type="text"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="associate-label-btn" class="btn btn-success" data-dismiss="modal">Associate Labels</button>
                </div>
            </div>
        </div>
    </div>

    <div class = "col-xs-12 hid-element" id="player-control">
    <button id='player-bwd' class="btn-player" title="Step backward to first loaded frame"><i class="fa fa-backward"></i></button>
    <button id='player-step-bwd' class="btn-player" title="Step backward to previous loaded frame"><i class="fa fa-step-backward"></i></button>
    {#<button id='player-play' class="btn-player"><i class="fa fa-play"></i></button>#}
    {#<button id='player-pause' class="btn-player"><i class="fa fa-pause"></i></button>#}
    <button id='player-step-fwd' class="btn-player" title="Step forward to next loaded frame"><i class="fa fa-step-forward"></i></button>
    <button id='player-fwd' class="btn-player" title="Step forward to last loaded frame"><i class="fa fa-forward"></i></button>

    <span id="frame_info"></span>
    <button id='advance-frames' class='btn-player' title="Advance to load next 10 frames"><i class="fa fa-arrow-right"></i></button>
    <button id='reverse-frames' class='btn-player' title="Reverse to load previous 10 frames"><i class="fa fa-arrow-left"></i></button>
    </div>
    {% block extra_js %}
        <script type="text/javascript" src="{% static 'ct_core/js/admin.js' %}"></script>
    {% endblock %}
{% endblock %}
