{% extends 'base.html' %}

{% block title %}Create New Experiment{% endblock %}
{% block content %}
  <div class="container">
      <h2>Create a new experiment to explore in TRACE</h2>
      <ul>
        <li>Upload image frame files in jpeg format or upload a time-lapse movie in avi format for the new experiment.</li>
        <li>Input a meaningful name to identify the new experiment in TRACE.</li>
        <li>Optionally upload cell segmentation data frame files in JSON format or upload one segmentation file in csv format
            for all frames corresponding to the new experiment.</li>
      </ul>
      <form class="form-horizontal" role="form" action="/add_experiment_to_server/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="image_sel_files" class="col-form-label-lg">Upload multiple image frame files:</label>
            <input type="file" class="form-control-file" name="image_sel_files" id="image_sel_files" accept=".jpg" multiple/>
            <small class="form-text text-muted">Uploaded image frames must be in jpg format and named as frame1.jpg, frame2.jpg, and so on.</small>
            <label for="movie_sel_file" class="col-form-label-lg">Or upload a time-lapse movie:</label>
            <input type="file" class="form-control-file" name="movie_sel_file" id="movie_sel_file" accept=".avi"/>
            <small class="form-text text-muted">Uploaded movie must be in avi format.</small>
        </div>
        <hr/>
        <div class="form-group">
            <label for="exp_name" class="col-form-label-lg">Experiment Name: *</label>
            <input id="exp_name" class="form-control" name="exp_name" placeholder="A meaningful descriptive name to identify the experiment" value="" type="text" required/>
        </div>
        <div class="form-group">
            <label for="exp_id" class="col-form-label-lg">Experiment Unique Identifier (Optional): </label>
            <input id="exp_id" class="form-control" name="exp_id" placeholder="A unique identifier used internally as the directory name to identify the experiment. If not provided, the file name of an uploaded file will be used." value="" type="text"/>
        </div>
        <div class="form-group">
            <label for="exp_label" class="col-form-label-lg">Experiment-specific annotation labels (Optional): </label>
            <input id="exp_label" class="form-control" name="exp_label" placeholder="The input labels must be separated by semicolon, e.g., label1;label2;label3" value="" type="text"/>
        </div>
        <hr/>
        <div class="form-group">
            <label for="seg_sel_files" class="col-form-label-lg">If applicable, upload multiple frame cell segmentation data (Optional):</label>
            <input type="file" class="form-control-file" name="seg_sel_files" id="seg_sel_files" accept=".json" multiple/>
            <small class="form-text text-muted">Uploaded cell segmentation data frames must be in json format and named as frame1.json, frame2.json, and so on.</small>
            <label for="seg_sel_file" class="col-form-label-lg">Or upload single cell segmentation data for all frames: </label>
            <input type="file" class="form-control-file" name="seg_sel_file" id="seg_sel_file" accept=".csv"/>
            <small class="form-text text-muted"> Uploaded single cell segmentation data for all frames must be in csv format</small>
        </div>
        <hr/>

        <div class="row">
          <button type="submit" class="col-sm-6 btn btn-primary btn-lg btn-block">Create New Experiment</button>
          <a href="/" class="btn btn-default col-sm-6" type=button">Go back to data manager page</a>
        </div>
        <div class="form-group">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <li class="warning-msg">{{ message }}</li>
                    {% elif message.tags == 'info' %}
                        <li class="info-msg">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
          {% endif %}
        </div>
      </form>
  </div>
{% endblock %}
