{% extends 'base.html' %}

{% block content %}
  <div>
      <a type="button" class="btn btn-default row-selector" href="/stream-video/16101015300">Stream Video</a>
      <div>
      <a type="button" class="btn btn-default row-selector {% if extract %}hidden-form{% endif %}" href="/extract-images/16101015300">Extract images from video</a>
      <a type="button" class="btn btn-default row-selector {% if not extract %}hidden-form{% endif %}" href="/display-images/0">Display Images</a>
      </div>
  </div>
{% endblock %}